doctype html5
html
  head
    title #{pageTitle}
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/js/fancySelect/fancySelect.css")
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(src="/js/fancySelect/fancySelect.js")
    script.
      $(function() {
        $(".styleSelect").fancySelect();
      });
  body
    header
      a.logo(href="/") uTrack
      div.headerSelect
        select.styleSelect
          option(value="") device
          option(value="0") galaxy s3
          option(value="1") m4400
      div.headerSelect
        select.styleSelect
          option(value="") route
          option(value="0") route 1
          option(value="1") route 2
          option(value="2") route 3
    block content
