body {
    padding-top: 70px;
}

.navbar-brand {
    /*background-image: url("logo.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 150px;*/
    /*text-indent: -9999px;*/
    /*overflow: hidden;*/
    /*width: 160px;*/
    padding: 4px 0px 0px 0px;
}

.loading {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-image: url("loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

.routeMap {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

/*.routeSelector {*/
    /*font-size: .8em;*/
    /*position: fixed;*/
    /*top: 100px;*/
    /*left: 20px;*/
    /*width: 250px;*/
    /*height: 200px;*/
    /*background-color: #f8f8f8;*/
    /*border-radius: 4px;*/
    /*z-index: 2;*/
/*}*/
