body {
    background-color: #ddd;
}

header {
    background-color: #eaeff2;
    background-image: url("header.png");
    background-repeat: repeat-x;
    background-position: top left;
    width: 100%;
    height: 90px;
}

.logo {
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: 150px;
    width: 150px;
    height: 90px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    float: left;
    margin-right: 25px;
}

.clearFloat {
    clear: both;
}

.headerSelect {
    padding-top: 4px;
    margin-left: 4px;
}

.routeMap {
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 0px;
    right: 0;
}

.loading {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 0px;
    right: 0;
    background-image: url("loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

div.fancy-select.dateSelect div.trigger  {
    width: 140px;
}

div.fancy-select.routeSelect div.trigger  {
    width: 100px;
}