body {
    background-color: #ddd;
}

header {
    background-color: #eaeff2;
    background-image: url("header.png");
    background-repeat: repeat-x;
    background-position: top left;
    width: 100%;
    height: 4em;
}

.logo {
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: 150px;
    width: 150px;
    height: 70px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    float: left;
    margin-right: 40px;
}

.headerSelect {
    float: left;
    margin-top: 6px;
    margin-left: 4px;
}

.routeMap {
    position: absolute;
    top: 4em;
    left: 0;
    bottom: 0px;
    right: 0;
}

.loading {
    display: none;
    position: absolute;
    top: 4em;
    left: 0;
    bottom: 0px;
    right: 0;
    background-image: url("loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
}